[submodule "bicpl"]
	path = bicpl
	url = https://github.com/BIC-MNI/bicpl.git
[submodule "N3"]
	path = N3
	url = https://github.com/BIC-MNI/N3.git
[submodule "EBTKS"]
	path = EBTKS
	url = https://github.com/BIC-MNI/EBTKS.git
[submodule "mni_autoreg"]
	path = mni_autoreg
	url = https://github.com/BIC-MNI/mni_autoreg.git
[submodule "classify"]
	path = classify
	url = https://github.com/BIC-MNI/classify.git
[submodule "conglomerate"]
	path = conglomerate
	url = https://github.com/BIC-MNI/conglomerate.git
[submodule "inormalize"]
	path = inormalize
	url = https://github.com/BIC-MNI/inormalize.git
[submodule "EZminc"]
	path = EZminc
	url = https://github.com/BIC-MNI/EZminc.git
[submodule "ray_trace"]
	path = ray_trace
	url = https://github.com/BIC-MNI/ray_trace.git
[submodule "glim_image"]
	path = glim_image
	url = https://github.com/BIC-MNI/glim_image.git
[submodule "oobicpl"]
	path = oobicpl
	url = https://github.com/BIC-MNI/oobicpl.git
[submodule "arguments"]
	path = arguments
	url = https://github.com/BIC-MNI/arguments.git
[submodule "Register"]
	path = Register
	url = https://github.com/BIC-MNI/Register.git
[submodule "Display"]
	path = Display
	url = https://github.com/BIC-MNI/Display.git
[submodule "postf"]
	path = postf
	url = https://github.com/BIC-MNI/postf.git
[submodule "mrisim"]
	path = mrisim
	url = https://github.com/BIC-MNI/mrisim.git
[submodule "bicgl"]
	path = bicgl
	url = https://github.com/BIC-MNI/bicgl.git
[submodule "mni-perllib"]
	path = mni-perllib
	url = https://github.com/BIC-MNI/mni-perllib.git
[submodule "bic-pipelines"]
	path = bic-pipelines
	url = https://github.com/BIC-MNI/bic-pipelines.git
[submodule "BEaST"]
	path = BEaST
	url = https://github.com/BIC-MNI/BEaST.git
[submodule "libminc"]
	path = libminc
	url = https://github.com/BIC-MNI/libminc.git
[submodule "minctools"]
	path = minctools
	url = https://github.com/BIC-MNI/minc-tools.git
[submodule "BEaST_library"]
	path = BEaST_library
	url = https://github.com/BIC-MNI/BEaST_library.git
[submodule "xdisp"]
	path = xdisp
	url = https://github.com/BIC-MNI/xdisp.git
[submodule "Elastix"]
	path = Elastix
	url = https://github.com/vfonov/elastix-1.git
[submodule "ANTs"]
	path = ANTs
	url = https://github.com/vfonov/ANTs.git
[submodule "minc-widgets"]
	path = minc-widgets
	url = https://github.com/BIC-MNI/minc-widgets.git
[submodule "ILT"]
	path = ILT
	url = https://github.com/BIC-MNI/ILT.git
[submodule "patch_morphology"]
	path = patch_morphology
	url = https://github.com/vfonov/patch_morphology.git
[submodule "minc_gco"]
	path = minc_gco
	url = https://github.com/BIC-MNI/minc_gco.git
[submodule "Convert3D"]
	path = Convert3D
	url = https://github.com/vfonov/Convert3D.git
