[submodule "minc"]
	path = minc
	url = git@ssh.github.com:vfonov/minc.git
[submodule "bicpl"]
	path = bicpl
	url = git@ssh.github.com:BIC-MNI/bicpl.git
[submodule "N3"]
	path = N3
	url = git@ssh.github.com:BIC-MNI/N3.git
[submodule "EBTKS"]
	path = EBTKS
	url = git@ssh.github.com:BIC-MNI/EBTKS.git
[submodule "mni_autoreg"]
	path = mni_autoreg
	url = git@ssh.github.com:BIC-MNI/mni_autoreg.git
[submodule "classify"]
	path = classify
	url = git@ssh.github.com:BIC-MNI/classify.git
[submodule "conglomerate"]
	path = conglomerate
	url = git@ssh.github.com:BIC-MNI/conglomerate.git
[submodule "inormalize"]
	path = inormalize
	url = git@ssh.github.com:BIC-MNI/inormalize.git
[submodule "EZminc"]
	path = EZminc
	url = git@ssh.github.com:vfonov/EZminc.git
[submodule "ray_trace"]
	path = ray_trace
	url = git@ssh.github.com:BIC-MNI/ray_trace.git
[submodule "glim_image"]
	path = glim_image
	url = git@ssh.github.com:BIC-MNI/glim_image.git
[submodule "oobicpl"]
	path = oobicpl
	url = git@ssh.github.com:BIC-MNI/oobicpl.git
[submodule "arguments"]
	path = arguments
	url = git@ssh.github.com:BIC-MNI/arguments.git
[submodule "itk-interface/minc4itk"]
	path = itk-interface/minc4itk
	url = git@ssh.github.com:vfonov/minc4itk.git
[submodule "Register"]
	path = Register
	url = git@ssh.github.com:BIC-MNI/Register.git
[submodule "Display"]
	path = Display
	url = git@ssh.github.com:BIC-MNI/Display.git
[submodule "postf"]
	path = postf
	url = git@ssh.github.com:BIC-MNI/postf.git
[submodule "mrisim"]
	path = mrisim
	url = git@ssh.github.com:BIC-MNI/mrisim.git
[submodule "bicgl"]
	path = bicgl
	url = git@ssh.github.com:BIC-MNI/bicgl.git
[submodule "minc4itk"]
	path = minc4itk
	url = git@ssh.github.com:vfonov/minc4itk.git
