[submodule "bicpl"]
	path = bicpl
	url = git://github.com/BIC-MNI/bicpl.git
[submodule "N3"]
	path = N3
	url = git://github.com/BIC-MNI/N3.git
[submodule "EBTKS"]
	path = EBTKS
	url = git://github.com/BIC-MNI/EBTKS.git
[submodule "mni_autoreg"]
	path = mni_autoreg
	url = git://github.com/BIC-MNI/mni_autoreg.git
[submodule "classify"]
	path = classify
	url = git://github.com/BIC-MNI/classify.git
[submodule "conglomerate"]
	path = conglomerate
	url = git://github.com/BIC-MNI/conglomerate.git
[submodule "inormalize"]
	path = inormalize
	url = git://github.com/BIC-MNI/inormalize.git
[submodule "EZminc"]
	path = EZminc
	url = git://github.com/BIC-MNI/EZminc.git
[submodule "ray_trace"]
	path = ray_trace
	url = git://github.com/BIC-MNI/ray_trace.git
[submodule "glim_image"]
	path = glim_image
	url = git://github.com/BIC-MNI/glim_image.git
[submodule "oobicpl"]
	path = oobicpl
	url = git://github.com/BIC-MNI/oobicpl.git
[submodule "arguments"]
	path = arguments
	url = git://github.com/BIC-MNI/arguments.git
[submodule "Register"]
	path = Register
	url = git://github.com/BIC-MNI/Register.git
[submodule "Display"]
	path = Display
	url = git://github.com/BIC-MNI/Display.git
[submodule "postf"]
	path = postf
	url = git://github.com/BIC-MNI/postf.git
[submodule "mrisim"]
	path = mrisim
	url = git://github.com/BIC-MNI/mrisim.git
[submodule "bicgl"]
	path = bicgl
	url = git://github.com/BIC-MNI/bicgl.git
[submodule "minc4itk"]
	path = minc4itk
	url = git://github.com/BIC-MNI/minc4itk.git
[submodule "mni-perllib"]
	path = mni-perllib
	url = git://github.com/BIC-MNI/mni-perllib.git
[submodule "bic-pipelines"]
	path = bic-pipelines
	url = git://github.com/vfonov/bic-pipelines.git
[submodule "BEaST"]
	path = BEaST
	url = git://github.com/BIC-MNI/BEaST.git
[submodule "mincANTS"]
	path = mincANTS
	url = git://github.com/vfonov/mincANTS.git
[submodule "c3d"]
	path = c3d
	url = git://github.com/vfonov/c3d.git
[submodule "libminc"]
	path = libminc
	url = git://github.com/BIC-MNI/libminc.git
[submodule "minctools"]
	path = minctools
	url = git://github.com/BIC-MNI/minc-tools.git
