Source: minc-toolkit-v2
Priority: optional
Maintainer: Vladimir S. FONOV <vladimir.fonov@gmail.com>
Build-Depends: debhelper (>= 4.1.16), bison, flex, libxi-dev, libxmu-dev, libxmu-headers, cmake (>= 3.1), git, libgl1-mesa-dev, libjpeg-dev, libglu1-mesa-dev
Homepage: https://bic-mni.github.io/

Package: minc-toolkit-v2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Description: MINC toolkit v2
 MINC toolkit version 2
