#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

#Include debian config
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_CMAKE_INSTALL_PREFIX = /opt/minc/$(DEB_UPSTREAM_VERSION)

DEB_CMAKE_EXTRA_FLAGS = \
		-DCMAKE_BUILD_TYPE:STRING=Release \
		-DMT_BUILD_ABC:BOOL=ON \
		-DMT_BUILD_ANTS:BOOL=ON \
		-DMT_BUILD_C3D:BOOL=ON \
		-DMT_BUILD_ELASTIX:BOOL=ON \
		-DMT_BUILD_IM:BOOL=OFF \
		-DMT_BUILD_ITK_TOOLS:BOOL=ON \
		-DMT_BUILD_LITE:BOOL=OFF \
		-DMT_BUILD_SHARED_LIBS:BOOL=ON \
		-DMT_BUILD_VISUAL_TOOLS:BOOL=ON \
        -DMT_BUILD_QUIET:BOOL=ON \
		-DMT_USE_OPENMP:BOOL=ON \
		-DUSE_SYSTEM_FFTW3D:BOOL=OFF \
		-DUSE_SYSTEM_FFTW3F:BOOL=OFF \
		-DUSE_SYSTEM_GLUT:BOOL=OFF \
		-DUSE_SYSTEM_GSL:BOOL=OFF \
		-DUSE_SYSTEM_HDF5:BOOL=OFF \
		-DUSE_SYSTEM_ITK:BOOL=OFF \
		-DUSE_SYSTEM_NETCDF:BOOL=OFF \
		-DUSE_SYSTEM_NIFTI:BOOL=OFF \
		-DUSE_SYSTEM_PCRE:BOOL=OFF \
		-DUSE_SYSTEM_ZLIB:BOOL=OFF
